<CONFIG>
    <PEPPER_IP>192.168.0.41</PEPPER_IP>
    <PEPPER_PORT>9559</PEPPER_PORT>
    <IMAGE_TEXT>Smart Home Lab</IMAGE_TEXT>
    <IMAGE_DATE>12.08.2020</IMAGE_DATE>
    <POSITION_X>465</POSITION_X>
    <IMAGE_WIDTH>50</IMAGE_WIDTH>
    <IMAGE_HEIGHT>75</IMAGE_HEIGHT>
    <NUMBER_IMAGES>1</NUMBER_IMAGES>
    <LOGO_PATH>logo.png</LOGO_PATH>
    <WORD_RECOGNITION_THRESHOLD>0.3</WORD_RECOGNITION_THRESHOLD>
    <STREAM_RESOLUTION>2</STREAM_RESOLUTION>
    <FRAME_RATE>10</FRAME_RATE>
    <PICTURE_RESOLUTION>3</PICTURE_RESOLUTION>
    <CAMERA>0</CAMERA>
    <COLORSPACE>11</COLORSPACE>
    <TAKE_PICTURE_KEYWORD>foto aufnehmen</TAKE_PICTURE_KEYWORD>
    <APPLICATION_HANDLE>PepperSelfieABC</APPLICATION_HANDLE>
    <WINDOW_NAME>ImagePlayer</WINDOW_NAME>
    <CAPTION>Bitte lächeln!</CAPTION>
</CONFIG>